In [2]:
import pandas as pd

In [14]:
# read updateIdProyek sheet = brw_pendanaan
df_updateIdProyek = pd.read_excel('data/updateIdProyek.xlsx', sheet_name='brw_pendanaan')
# read lenderToProyek sheet = sheet1
df_lenderToProyek = pd.read_excel('data/lenderToProyek.xlsx', sheet_name='Sheet1')

In [25]:
# info excel
df_updateIdProyek.info()
# df_lenderToProyek.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2122 entries, 0 to 2121
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   pendanaan_id               291 non-null    float64
 1   pengajuan_id               291 non-null    float64
 2   id_proyek                  1147 non-null   float64
 3   brw_id                     489 non-null    float64
 4   pendanaan_nama             2109 non-null   object
 5   pendanaan_tipe             0 non-null      float64
 6   pendanaan_akad             0 non-null      float64
 7   pendanaan_dana_dibutuhkan  1043 non-null   float64
 8   estimasi_mulai             1043 non-null   object
 9   estimasi_imbal_hasil       1149 non-null   object
 10  mode_pembayaran            0 non-null      float64
 11  metode_pembayaran          0 non-null      float64
 12  durasi_proyek              1042 non-null   float64
 13  detail_pendanaan           0 non-null      float64
 14  dana_dicairkan             1147 non-null   float64
 15  status                     0 non-null      float64
 16  status_dana                0 non-null      float64
 17  lokasi_proyek              0 non-null      float64
 18  geocode                    0 non-null      float64
 19  va_number                  0 non-null      float64
 20  gambar_utama               0 non-null      float64
 21  status_tampil_pengajuan    0 non-null      float64
 22  keterangan                 0 non-null      float64
 23  keterangan_approval        0 non-null      float64
 24  created_at                 0 non-null      float64
 25  updated_at                 0 non-null      float64
dtypes: float64(23), object(3)
memory usage: 431.2+ KB

In [26]:
# df_updateIdProyek.head(3)
# df_lenderToProyek.head(3)

In [28]:
# update col type
# df_updateIdProyek['pendanaan_id'] = df_updateIdProyek['pendanaan_id'].astype(int)

In [77]:
# filtering 
df_filter = df_updateIdProyek[
    ['pendanaan_id', 'pengajuan_id', 'id_proyek', 'brw_id', 'pendanaan_nama', 'pendanaan_dana_dibutuhkan']
].where(
    df_updateIdProyek['pendanaan_dana_dibutuhkan'].isna()
    & (df_updateIdProyek['pendanaan_nama'].notnull())
    | (df_updateIdProyek['pendanaan_nama'].notna())
)

for index, row in df_filter.head(n=10).iterrows():
    pendanaan_nama = row['pendanaan_nama']
    total_need = df_lenderToProyek[
        ['total_need','nama']
    ].where(
        df_lenderToProyek['nama'] = pendanaan_nama
    )
#     df_updateIdProyek[
#     ['pendanaan_id', 'pengajuan_id', 'id_proyek', 'brw_id', 'pendanaan_nama', 'pendanaan_dana_dibutuhkan']
# ].where(
#     df_updateIdProyek['pendanaan_dana_dibutuhkan'].isna()
#     & (df_updateIdProyek['pendanaan_nama'].notnull())
#     | (df_updateIdProyek['pendanaan_nama'].notna())
# )
    print(total_need)

# df_filter.at[0, 'pendanaan_nama']
# df_lenderToProyek[['nama'].str.contains(df_updateIdProyek['pendanaan_nama'])]

SyntaxError: keyword can't be an expression (<ipython-input-77-ab866171f401>, line 15)